header{
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 2%;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    background: #333;
    padding: 1%
}

body{
    background-color: black;
    color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blue-color {
    color: #33C1FF
}

.red-color {
    color: #FF5733
}

.button {
    color: white;
    background-color: #555;
    padding: 15px;
    width: 50px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #444;
    margin-block: 2px;
}

.resetButton {
    color: white;
    background-color: #555;
    padding: 15px;
    width: 75px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #444;
    margin-block: 2px;
}